@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color:bisque;
}

a.voltar {
    text-decoration:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p.primeiro {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:chocolate;
    height:fit-content;
    width:fit-content;
    font-weight:bold;
    border: 5px solid brown;
    box-shadow: 5px 5px 5px black;

}

p.segundo {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(202, 56, 56);
    height:fit-content;
    width:fit-content;
    font-weight:bold;
    border: 5px solid brown;
    box-shadow: 5px 5px 5px black;
}

p.terceiro {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(252, 127, 38);
    height:fit-content;
    width:fit-content;
    font-weight:bold;
    border: 5px solid brown;
    box-shadow: 5px 5px 5px black;

}

h1 {
    text-align:center;
    font-family:Lobster;
    

}

h2.second{
    text-align:center;
    font-family:Lobster;

}

h2.third{
    text-align:center;
    font-family:Lobster;

}